@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
@font-face {
  font-family: Readex;
  src: url("./assets/fonts/Readex_Pro/ReadexPro-VariableFont_HEXP,wght.ttf");
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

input:focus {
  outline: 0;
}

body {
  @apply min-h-screen overflow-x-hidden bg-background-light dark:bg-background-dark text-black dark:text-white;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  cursor: grab;
  background: #dfdddb;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #8c8c8c;
}
::-webkit-scrollbar-thumb:hover {
  background: #dfdddb;
}